<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('http://127.0.0.1:8080/src/images/hero_3.jpg');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Giới thiệu</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Trang chủ</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Giới thiệu</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-image overlay-primary fixed overlay" id="next-section"
  style="background-image: url('http://127.0.0.1:8080/src/images/hero_2.jpg');">
   {{#each ds2}}
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2 text-white">Thống Kê</h2>
        <p class="lead text-white">{{this.gioithieu}}</p>
      </div>
    </div>
    <div class="row pb-0 block__19738 section-counter">

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{this.namthanhlap}}">0</strong>
        </div>
        <span class="caption">Năm thành lập</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{this.ungvien}}"></strong>
        </div>
        <span class="caption">Ứng viên</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{this.vieclam}}"></strong>
        </div>
        <span class="caption">Việc làm</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{this.nhatuyendung}}"></strong>
        </div>
        <span class="caption">Nhà tuyển dụng</span>
      </div>
    {{/each}}

    </div>
  </div>
</section>