
<section class="section-hero overlay inner-page bg-image"
    style="background-image: url('http://127.0.0.1:8080/src/images/intro-home.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Admin</h1>

            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
            
 <div class="row">
    <div class="col-md-6 offset-md-3" style="background-color: #D7D7D7;margin-top: 25px;padding:20px;">
        <h3>{{viewTitle}}</h3>

            <form action="/employee" method="POST" autocomplete="off">
                <input type="hidden" name="_id" value="{{job._id}}">

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{job.email}}">
                    <div class="text-danger">
                    {{job.emailError}}</div>
                </div>
                <div class="form-group">
                    <label>Job Name</label>
                    <input type="text" class="form-control" name="jobName" placeholder="Job Name" value="{{job.jobName}}">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Address" value="{{job.address}}">
                </div>
                <div class="form-group">
                    <label>Type Of Work</label>
                    <input type="text" class="form-control" name="typeOfwork" placeholder="Type Of Work" value="{{job.typeOfwork}}">
                </div>
                <div class="form-group">
                    <label>Job Description</label>
                    <input type="text" class="form-control" name="jobDescription" placeholder="Job Description" value="{{job.jobDescription}}">
                </div>
                <div class="form-group">
                    <label>CompanyName</label>
                    <input type="text" class="form-control" name="companyName" placeholder="Company Name" value="{{job.companyName}}">
                </div>
                <div class="form-group">
                    <label>Facebook</label>
                    <input type="text" class="form-control" name="facebook" placeholder="Facebook" value="{{job.facebook}}">
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
                    <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
                </div>
            </form>
    </div>
</div>
    </div>
</section>