<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('http://127.0.0.1:8080/src/images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold"> Blog</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Trang chủ</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Blog</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row mb-5">
      {{#each ds}}
      <div class="col-md-6 col-lg-4 mb-5">
        <a href="#"><img src="{{this.blogImages}}" alt="blog_image"
            class="img-fluid rounded mb-4"></a>
        <h3><a href="#" class="text-black">{{this.blogName}}</a></h3>
        <div>{{this.blogCount}} Bình luận</div>
      </div>
      {{/each}}
    </div>
    <div class="row pagination-wrap mt-5">

      <div class="col-md-12 text-center ">
        <div class="custom-pagination ml-auto">
          <a href="#" class="prev">Trước</a>
          <div class="d-inline-block">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
          </div>
          <a href="#" class="next">Sau</a>
        </div>
      </div>
    </div>

  </div>
</section>