<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('http://127.0.0.1:8080/src/images/section-background.jpg');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Liên hệ</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Trang chủ</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Liên hệ</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section" id="next-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <form action="/employee" class="" method="POST" autocomplete="off">
        <input type="hidden" name="_id" value="{{contact._id}}">

          <div class="form-group">
            <label class="text-black">Name</label>
              <input type="text" id="name" name="name" class="form-control" value="{{contact.name}}" >
          </div>
          <div class="form-group">
            <label  class="text-black">Positon</label>
              <input type="text" id="position" name="position" class="form-control" value="{{contact.position}}" >
          </div>
          <div class="form-group">
            <label class="text-black">Responese</label>
              <input type="text" id="response" name="response" class="form-control" value="{{contact.response}}" >
          </div>

         <div class="form-group">
                    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
                </div>
        </form>
      </div>
      <div class="col-lg-5 ml-auto">
        <div class="p-4 mb-3 bg-white">
          <p class="mb-0 font-weight-bold">Địa chỉ</p>
          <p class="mb-4">Trường Đại học Sư phạm - ĐHĐN</p>
          <p class="mb-4">459 Tôn Đức Thắng, Hòa Hiệp Nam, Liên Chiểu, Đà Nẵng</p>


          <p class="mb-0 font-weight-bold">Điện thoại</p>
          <p class="mb-4"><a href="#">079.220.4642</a></p>

          <p class="mb-0 font-weight-bold">Email </p>
          <p class="mb-0"><a href="#">truyenle16398@gmail.com</a></p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title mb-3">Phản Hồi Nổi Bật</h2>
      </div>
    </div>
    <div class="row">
      {{#each ds1}}
          <div class="col-lg-6">
        <div class="block__87154 bg-white rounded">
          <blockquote>
            <p>&ldquo;{{this.response}}&rdquo;</p>
          </blockquote>
          <div class="block__91147 d-flex align-items-center">
            <figure class="mr-4"></figure>
            <div>
              <h3>{{this.name}}</h3>
              <span class="position">{{this.position}}</span>
            </div>
          </div>
        </div>
          </div>
      {{/each}}

    </div>
  </div>
</section>