<!-- HOME -->
<section class="home-section section-hero overlay bg-image"
  style="background-image: url('http://127.0.0.1:8080/src/images/hero_1.jpg');" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">Tìm Kiếm Việc Làm</h1>
          <p>Tìm công việc mơ ước<b> Nâng bước thành công</b> với hơn <b>43,000</b> cơ hội nghề nghiệp.</p>
        </div>
        <form method="#"class="search-jobs-form">
          <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" class="form-control form-control-lg" placeholder="Nhập tiêu đề, công ty...">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true"
                title="Chọn địa điểm...">
                <option>Tất cả địa điểm</option>
                <option>Hồ Chí Minh</option>
                <option>Hà Nội</option>
                <option>Đà Nẵng</option>
                <option>Bình Dương</option>
                <option>Thừa Thiên Huế</option>
                <option>Hà Tĩnh</option>
                <option>Đắk Lắk</option>
                <option>Cao Bằng</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true"
                title="Chọn loại hình công việc">
                <option>Bán thời gian(Part Time)</option>
                <option>Toàn thời gian(Full Time)</option>
                <option>Thực tập(Intership)</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search">Tìm kiếm</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 popular-keywords">
              <h3>Xu hướng tìm kiếm:</h3>
              <ul class="keywords list-unstyled m-0 p-0">
                <li><a href="#" class="">Thiết kế đồ họa</a></li>
                <li><a href="#" class="">PHP Developers</a></li>
                <li><a href="#" class="">Angular</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">Tất cả công việc</h2>
      </div>
    </div>

    <ul class="job-listings mb-5">
      {{#each danhsach}}
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
        <a href="#"></a>
        <!--job-single.html-->
        <div class="job-listing-logo">
          <img src="{{this.images}}" alt="FPT Software logo" class="img-fluid">
        </div>

        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
            <h2>{{this.jobName}}</h2>
            <strong>{{this.companyName}}</strong>
          </div>
          <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
            <span class="icon-room"></span>{{this.address}}
          </div>
          <div class="job-listing-meta">
            <span class="badge badge-danger">{{this.typeOfwork}}</span>
          </div>
        </div>
        </li>
      {{/each}}
      
    </ul>

    <div class="row pagination-wrap">
      <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
        <span>Hiển thị 1-7 trong hơn 43,000 công việc</span>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <div class="custom-pagination ml-auto">
          <a href="#" class="prev">Trước</a>
          <div class="d-inline-block">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
          </div>
          <a href="#" class="next">Sau</a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- ************************************************************ -->
<section class="py-5 bg-image overlay-primary fixed overlay"
  style="background-image: url('http://127.0.0.1:8080/src/images/hero_1.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Bạn đang tìm kiếm một công việc ổn định?</h2>
        <p class="mb-0 text-white lead">Hãy tạo hồ sơ ngay để nhà tuyển dụng có thể nhìn thấy bạn, tiếp cận hàng ngàn
          cơ hội việc làm.</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="/employee/login" class="btn btn-warning btn-block btn-lg">Đăng ký</a>
      </div>
    </div>
  </div>
</section>


<section class="site-section py-4">

  <div class="container">

    <div class="row align-items-center">
      <div class="col-12 text-center mt-4 mb-5">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <h2 class="section-title mb-2">Các Nhà Tuyển Dụng Hàng Đầu</h2>
            <p class="lead">Chúng tôi là đối tác đào tạo, nghiên cứu và hợp tác với các công ty, trung tâm tin học
              trong và ngoài nước như FPT Software, Microsoft, ... và hàng ngàn các nhà tuyển dụng khác.</p>
          </div>
        </div>

      </div>
      {{#each danhsach}}
          <div class="col-6 col-lg-3 col-md-6 text-center">
            <img src="{{this.images}}" alt="Image" class="img-fluid logo-1">   
          </div>
      {{/each}}
    </div>
  </div>
</section>