

<section class="section-hero overlay inner-page bg-image"
    style="background-image: url('http://127.0.0.1:8080/src/images/intro-home.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Admin</h1>

            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
         <h3><a class="btn btn-secondary" href="/employee/admin"><i class="fa fa-plus"></i> Create New</a> JOB List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Job Name</th>
            <th>Address</th>
            <th>Type Of Work</th>
            <th>Job Description</th>
            <th>Company Name</th>
            <th>Facebook</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.email}}</td>
            <td>{{this.jobName}}</td>
            <td>{{this.address}}</td>
            <td>{{this.typeOfwork}}</td>
            <td>{{this.jobDescription}}</td>
            <td>{{this.companyName}}</td>
            <td>{{this.facebook}}</td>
            <td>
                <a href="/employee/{{this._id}}">Edit</a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
    </div>
</section>