
<section class="section-hero overlay inner-page bg-image"
    style="background-image: url('http://127.0.0.1:8080/src/images/intro-home.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Login</h1>

            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <!-- messages -->
            <h1 class="text-center">
              <span class="fa fa-sign-in"></span> Login
            </h1>

            <!-- form -->
            <form action="/login" method="post">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
              </div>
              <input type="submit" class="btn btn-dark btn-lg">
            </form>

            <hr>
            <div class="text-center">
              <p>Need an account? <a href="/signup">Signup</a></p>
              <p>Or go <a href="/">home</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
