<!doctype html>
<html lang="en">

<head>
  <title>JOB SEARCH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


  <link rel="stylesheet" href="http://127.0.0.1:8080/src/css/custom-bs.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/src/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/src/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/src/fonts/icomoon/style.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/src/fonts/line-icons/style.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/src/css/quill.snow.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/src/css/owl.carousel.min.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/src/css/animate.min.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="http://127.0.0.1:8080/src/css/style.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/src/css/main.css">

</head>

<body>
{{!-- <div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> --}}
<div class="site-wrap">

    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="/employee/index">JOB SEARCH</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="/employee/index" class="nav-link active">Trang chủ</a></li>
              <li><a href="/employee/about">Giới thiệu</a></li>
              <li class="has-children">
                <a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="#">Dịch vụ</a></li>
                  <li><a href="#">Blog Single</a></li>
                  <li><a href="#">Phản hổi</a></li>
                  <li><a href="#">Hỏi đáp</a></li>
                </ul>
              </li>
              <li><a href="/employee/blog">Blog</a></li>
              <li><a href="/employee/contact">Liên hệ</a></li>
              <li class="d-lg-none"><a href="#"><span class="mr-2">+</span> Post a Job</a></li>
              <li class="d-lg-none"><a href="/employee/login">Log In</a></li>
            </ul>
          </nav>

          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
              <a href="/employee/signup" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block">Đăng Ký</a>
              <a href="/employee/login" class="btn btn-primary border-width-2 d-none d-lg-inline-block">Đăng nhập</a>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>

    {{{body}}}

    <footer class="site-footer">

      <!--<a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>-->

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Xu hướng tìm kiếm</h3>
            <ul class="list-unstyled">
              <li><a href="#">Thiết kế Web</a></li>
              <li><a href="#">Thiết kế đồ họa</a></li>
              <li><a href="#">Front-End</a></li>
              <li><a href="#">Python</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>JobSearch</h3>
            <ul class="list-unstyled">
              <li><a href="#">Giới thiệu</a></li>
              <li><a href="#">Hỗ trợ</a></li>
              <li><a href="#">Tuyển dụng</a></li>
              <li><a href="#">Điều khoản dịch vụ</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Địa chỉ</h3>
            <ul class="list-unstyled">
              <li><a>Trường Đại học Sư phạm - ĐHĐN</a></li>
              <li><a>459 Tôn Đức Thắng, Hòa Hiệp Nam, Liên Chiểu, Đà Nẵng</a></li>
              <li><a>Tel: 079.220.4642</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Liên hệ</h3>
            <ul class="list-unstyled">
              <li><a>Tel: 079.220.4642</a></li>
            </ul>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright">
              <small class="block">&copy;
                2019 <strong class="text-white">JobSearch</strong>
                Đồ Án Thuật Toán. <br> Lê Huy Truyền &amp; Phan Hoàng Hiếu</small>
            </p>
          </div>
        </div>
      </div>
    </footer>
</div>
<!-- SCRIPTS -->
<script src="http://127.0.0.1:8080/src/js/jquery.min.js"></script>
<script src="http://127.0.0.1:8080/src/js/bootstrap.bundle.min.js"></script>
<script src="http://127.0.0.1:8080/src/js/isotope.pkgd.min.js"></script>
<script src="http://127.0.0.1:8080/src/js/stickyfill.min.js"></script>
<script src="http://127.0.0.1:8080/src/js/jquery.fancybox.min.js"></script>
<script src="http://127.0.0.1:8080/src/js/jquery.easing.1.3.js"></script>

<script src="http://127.0.0.1:8080/src/js/jquery.waypoints.min.js"></script>
<script src="http://127.0.0.1:8080/src/js/jquery.animateNumber.min.js"></script>
<script src="http://127.0.0.1:8080/src/js/owl.carousel.min.js"></script>
<script src="http://127.0.0.1:8080/src/js/quill.min.js"></script>


<script src="http://127.0.0.1:8080/src/js/bootstrap-select.min.js"></script>

<script src="http://127.0.0.1:8080/src/js/custom.js"></script>

</body>

</html>